@model Todo

<h1>Todo Details</h1>

<div>
    <h4>Id: @Model.Id</h4>
    <h4>Description: @Model.Description</h4>
    <h4>Done: @(Model.Done ? "Yes" : "No")</h4>
    <h4>Assignee: @(Model.Assignee != null ? Model.Assignee.id : "Unassigned")</h4>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
