@model Todo[]

@{
    ViewData["Title"] = "Todos";
}

<h2>Todos</h2>
<a href="@Url.Action("Create")">Create New Todo</a>
<table class="table">
    <thead>
        <tr>
            <th>Description</th>
            <th>Assignee</th>
            <th>Done</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in Model)
        {
            <tr>
                <td>@todo.Description</td>
                <td>@todo.Assignee?.FirstName ?? "Unassigned"</td>
                <td>@todo.Done</td>
                <td>
                    <a href="@Url.Action("Details", new { id = todo.Id })">Details</a> |
                    <a href="@Url.Action("Delete", new { id = todo.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


