@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WebApplicationCompany.Models.Entities
@model Person


<div class="container d-flex flex-column align-items-center">
    <h2 class="text-center">Person Details</h2>

    <div class="text-center w-100" style="max-width: 800px;">
        <h4>@Model.Name</h4>
        <hr />
        <table class="table table-bordered w-70">
            <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th scope="row">Phone Number</th>
                    <td>@Model.PhoneNumber</td>
                </tr>
                <tr>
                    <th scope="row">City</th>
                    <td>@Model.City</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center mt-3">
        <a class="btn btn-primary" asp-action="Index">Back to List</a> |
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </div>
</div>
